@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  background-color: #090b1a;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html body .card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95vh;
  border-radius: 5px;
}

html body .card .image {
  flex: 2;
  width: 100%;
  height: 30%;
  background: url(../images/image-header-mobile.jpg), #aa5cdb;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  background-blend-mode: multiply;
}

html body .card .content {
  flex: 3;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #1b1938;
  color: white;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

html body .card .content h1 {
  width: 80%;
  margin: .1em auto;
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
}

html body .card .content h1 span {
  color: #aa5cdb;
}

html body .card .content p {
  width: 80%;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  margin: .1em auto;
}

html body .card .content .status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .3em auto;
  width: 100%;
}

html body .card .content .status div {
  margin-bottom: 20px;
}

html body .card .content .status div span {
  font-size: 1.5em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

html body .card .content .status div small {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 12px;
}

html body .attribution {
  width: 80%;
  margin-top: 5px;
  color: white;
  text-align: center;
}

html body .attribution a {
  text-decoration: none;
  color: red;
  transition: .3s linear;
}

html body .attribution a:hover {
  padding-bottom: 5px;
  border-bottom: 1px dotted white;
}

@media (min-width: 601px) and (max-width: 900px) {
  html body .card {
    flex-direction: row;
    max-width: 1100px;
    max-height: 500px;
  }
  html body .card .image {
    flex: 3;
    order: 2;
    width: 50%;
    height: 100%;
    background-position: right;
    border-radius: 0px 10px 10px 0px;
  }
  html body .card .content {
    order: 1;
    width: 50%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    justify-content: space-between;
  }
  html body .card .content h1 {
    font-size: 1.5em;
    margin-top: 2em;
  }
}

@media (min-width: 901px) {
  html body .card {
    width: 90%;
    flex-direction: row;
    align-items: center;
    height: 75%;
    max-width: 1100px;
    max-height: 500px;
  }
  html body .card .image {
    height: 100%;
    width: 45%;
    order: 2;
    border-radius: 0 10px 10px 0;
  }
  html body .card .content {
    flex: 2.5;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 55%;
    order: 1;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  html body .card .content h1 {
    font-size: 2.1em;
    width: 70%;
  }
  html body .card .content p {
    width: 70%;
    margin: 40px auto;
    line-height: 1.6em;
  }
  html body .card .content .status {
    flex-direction: row;
    width: 70%;
  }
}